<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<ExcludeByFile>
						**/Program.cs,
						**/ConfigureServices.cs,
						**/Company.Service.RestApi/API/**/*Controller.cs,
						**/Company.Service.RestApi/API/**/Contracts/*.cs,
						**/Company.Service.RestApi/API/PagedResponse.cs,
						**/Company.Service.RestApi/Health/PingController.cs,
						**/Company.Service.RestApi/Common/Configurations/*.cs,
						**/Company.Service.Application.IntegrationEvents/**/*.cs,
						**/Company.Service.Application/Utils/TimeProviderExtensions.cs,
						**/Company.Service.Infrastructure.Data/**/*.cs,
						**/Company.Service.Infrastructure/Persistence/ApplicationDbContext.cs,
						**/Company.Service.Infrastructure/Messaging/ConfigureMessagingServices.cs,
						**/Company.Service.DbDeploy/**/*.cs,
						**/Company.Service.Domain/Common/Types/Errors/*Error.cs,
					</ExcludeByFile>
					<ExcludeByAttribute>ExcludeFromCodeCoverage,Obsolete,GeneratedCode</ExcludeByAttribute>
					<Format>opencover,cobertura</Format>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>